<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<LINK rel="Bookmark" href="/favicon.ico" >
<LINK rel="Shortcut Icon" href="/favicon.ico" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{$Think.config.back_lib_url}html5.js"></script>
<script type="text/javascript" src="{$Think.config.back_lib_url}respond.min.js"></script>
<script type="text/javascript" src="{$Think.config.back_lib_url}PIE_IE678.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{$Think.config.back_static_url}h-ui/css/H-ui.min.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.back_static_url}h-ui/css/H-ui.admin.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.back_lib_url}Hui-iconfont/1.0.7/iconfont.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.back_lib_url}icheck/icheck.css" />
<link rel="stylesheet" type="text/css" href="{$Think.config.back_static_url}h-ui/skin/default/skin.css" id="skin" />
<link rel="stylesheet" type="text/css" href="{$Think.config.back_static_url}h-ui/css/style.css" />
<!--[if IE 6]>
<script type="text/javascript" src="{$Think.config.back_lib_url}DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>管理员列表</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 管理员列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
	<form action="{:url('lists')}" method="get">
	<div class="text-c"> 日期范围：
		<input type="text" onfocus="WdatePicker({maxDate:'#F{\ $dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" class="input-text Wdate" style="width:120px;" name="date_start" value="{:input('date_start')}">
		-
		<input type="text" onfocus="WdatePicker({minDate:'#F{\ $dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" id="datemax" class="input-text Wdate" style="width:120px;" name="date_end" value="{:input('date_end')}">
		<input type="text" class="input-text" style="width:250px" placeholder="输入管理员名称" id="" name="admin_name" value="{:input('admin_name')}">
		<button type="submit" class="btn btn-success" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
	</div>
	</form>
	<form action="{:url('delete')}" method="post">
	<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"><button <a href="javascript:;" onclick="datadel()" class="btn btn-danger radius"><i class="Hui-iconfont">&#xe6e2;</i> 批量删除</a></button> <a href="javascript:;" onclick="admin_add('添加管理员','{:url('add')}','800','500')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加管理员</a></span> <span class="r">共有数据：<strong>54</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th scope="col" colspan="9">员工列表</th>
			</tr>
			<tr class="text-c">
				<th width="25"><input type="checkbox" name="" value=""></th>
				<th width="40">ID</th>
				<th width="150">登录名</th>
				<th width="90">手机</th>
				<th width="150">邮箱</th>
				<th>角色</th>
				<th width="130">加入时间</th>
				<th width="100">是否已启用</th>
				<th width="100">操作</th>
			</tr>
		</thead>
		<tbody>
		{foreach name="list" item = "v"}
			<tr class="text-c">
				<td><input type="checkbox" value="{$v.admin_id}" name="id[]"></td>
				<td>{$v.admin_id}</td>
				<td>{$v.admin_name}</td>
				<td>{$v.admin_tel}</td>
				<td>		
				{if condition="$v.admin_email eq ''"}无邮箱
				{else /} {$v.admin_email}
				{/if}
				</td>
				<td>
				{if condition="$v.admin_email eq ''"}无角色
				{else /} {$v.role_name}
				{/if}
				</td>
				<td>{$v.add_time|date="Y-m-d H:i:s",###}</td>
				<td class="td-status">
				{if condition="$v.is_use eq 1"} <span class="label label-success radius">启用</span>
				{else /}<span class="label label-default radius">禁用</span>
				{/if} 
				</td>
				<td class="td-manage" admin_id="{$v.admin_id}"> 
				{if condition="$v.is_use eq 1"}
				<a onClick="admin_stop(this,'{$v.admin_id}')" href="javascript:;" title="停用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i>
				</a>
				{else /}
				<a onClick="admin_start(this,'{$v.admin_id}')" href="javascript:;" title="已启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i>
				</a>
				{/if}
				<a title="编辑" href="{:url('edit','admin_id='.$v['admin_id'])}" onclick="admin_edit('管理员编辑','','1','800','500')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> <a title="删除" href="{:url('del','admin_id='.$v['admin_id'])}" onclick="admin_del(this,'1')" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a></td>
			</tr>
			{/foreach}
		</tbody>
		<tr>
			<td colspan="9">{$page}</td>
		</tr>
		</form>
	</table>
</div>
<script type="text/javascript" src="{$Think.config.back_lib_url}jquery/1.9.1/jquery.min.js"></script>  
<script type="text/javascript" src="{$Think.config.back_lib_url}layer/2.1/layer.js"></script> 
<script type="text/javascript" src="{$Think.config.back_lib_url}laypage/1.2/laypage.js"></script> 
<script type="text/javascript" src="{$Think.config.back_lib_url}My97DatePicker/WdatePicker.js"></script> 
<script type="text/javascript" src="{$Think.config.back_static_url}h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="{$Think.config.back_static_url}h-ui/js/H-ui.admin.js"></script> 
<script type="text/javascript">
/*
	参数解释：
	title	标题
	url		请求的url
	id		需要操作的数据id
	w		弹出层宽度（缺省调默认值）
	h		弹出层高度（缺省调默认值）
*/
/*管理员-增加*/
function admin_add(title,url,w,h){
	layer_show(title,url,w,h);
}
/*管理员-删除*/
function admin_del(obj,id){
	layer.confirm('确认要删除吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		
		$(obj).parents("tr").remove();
		layer.msg('已删除!',{icon:1,time:1000});
	});
}
/*管理员-编辑*/
function admin_edit(title,url,id,w,h){
	layer_show(title,url,w,h);
}
/*管理员-停用*/
function admin_stop(obj,id){
	layer.confirm('确认要停用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		//获取要修改启用状态的admin_id
		// var admin_id = $(obj).parents('tr').find('.td-manage').attr('admin_id');
		// $.ajax({
		// 	url:"{:url('ajaxEditIsUse')}",//要求的url地址
		// 	data:{
		// 		//请求参数
		// 		'admin_id':admin_id
		// 	},
		// 	type:'post', //数据传输类型:get/post
		// 	success:function (data){  //成功回调
		// 		console.log(data);
		// 		$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,id)" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
		// 		$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
		// 		$(obj).remove();
		// 		layer.msg('已停用!',{icon: 5,time:1000});
		// 	},
		// 	error:function(e){ //失败回调
		// 		console.log(e);
		// 	}
		// })
	    // alert(id);
		$.ajax({
			url:"{:url('ajaxEditIsUse')}",
			data:{
				admin_id:id
			},
			type:'post',
			success:function(data){
				console.log(data);
				if(data==0){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_start(this,'+id+')" href="javascript:;" title="启用" style="text-decoration:none"><i class="Hui-iconfont">&#xe615;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-default radius">已禁用</span>');
					$(obj).remove();
					layer.msg('已禁用!', {icon: 6,time:1000});
				}
			},
			error:function(e){
				console.log(e);
			}
		})
	});
}

/*管理员-启用*/
function admin_start(obj,id){
	layer.confirm('确认要启用吗？',function(index){
		//此处请求后台程序，下方是成功后的前台处理……
		// alert(id);
		$.ajax({
			url:"{:url('ajaxEditIsUse')}",
			data:{
				admin_id:id
			},
			type:'post',
			success:function(data){
				// console.log(data);
				if(data==1){
					$(obj).parents("tr").find(".td-manage").prepend('<a onClick="admin_stop(this,'+id+')" href="javascript:;" title="禁用" style="text-decoration:none"><i class="Hui-iconfont">&#xe631;</i></a>');
					$(obj).parents("tr").find(".td-status").html('<span class="label label-success radius">已启用</span>');
					$(obj).remove();
					layer.msg('已启用!', {icon: 6,time:1000});
				}
			},
			eroro:function(e){
				console.log(e);
			}
		})
	});
}
</script>
</body>
</html>